.photograph-header {
    background-color: #FAFAFA;
    /*height: 300px;*/
    margin: 0 100px;
    padding:63px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ph_infos .ph_name {
    color:#d3573c;
    font-size:2.8em;
    font-weight:400;
    margin: 0;
}

.ph_infos .ph_localisation {
    color:#901c1c;
    font-size:1.2em;
}

.ph_infos .ph_tagline {
    color:#525252;
    font-size:.9em;
    margin:15px 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;       
}

.photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* bloc qui contient les likes totales et le prix du photographe*/
.ph_likes_price{
    background: #DB8876;
    bottom: 0;
    right: 40px;
    position: fixed;
    width:375px;
    height:70px;
    border-radius:5px;
    padding:0 35px;
    font-weight:500;
    font-size:1.2em;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.media_sort {
    position:relative;
    margin: 20px 100px;
    width: 500px;
}

.media_sort .media_sort_label {
    font-weight:700;
    margin-right:25px;
    font-size:1.2rem;
}

.media_sort .sort_dropdown {
    position:absolute;
    top:-7px;
    left:120px;
    width:165px;
    background:#901c1c;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    font-weight:500;
    font-size:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor: pointer;
}

.media_sort option {
    padding:20px;
    font-size:1.2rem;
    font-weight:500;
}

.media_grid {
    display:flex;
    flex-wrap:wrap;
    margin: 25px 80px;
}

.media_item {
    color:#901c1c;
    font-size:1.1em;
    font-weight:500;  
    width: 33.33%;
    padding: 20px;
}

.media_item img, .media_item video {
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:5px;
    cursor: pointer;
}

.media_item_infos {
    display: flex;
    justify-content:space-between;
    margin-top:5px;
}

.media_item_infos p {
    font-size:1em;
    font-weight:400;
}

.media_item_infos .fa-heart {
    margin-left: 5px;
    cursor: pointer;
}

/* lightbox*/
.lightbox{
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    display: none;
}

.lightbox_dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width:1250px;
    margin: auto;
    display: flex;
    color: #901c1c;
}

.prev, .next {
    font-size: 2.2em;
    display: flex;
    align-items: center;
}

.next {
    position: relative;
    margin-left: auto;
}

.prev i , .next i {
    cursor: pointer;
}

.close_btn_icon {
    position: absolute;
    top: 2rem;
    left: 0;
    cursor: pointer;
}

.media_container{
    flex: 1 1 0;
    padding: 2rem;
}

.media_container img, .media_container video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* contact modal */


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    /* width: 50%; */
    min-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input{
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem ;
}

form textarea{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem ;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}