@import url("photographer.css");

/* ajouter un style par défaut à tous les éléments du html*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 90px; */
  padding: 40px 20px 20px 20px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
  font-weight: 400;
  font-size: 1.8rem;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article a, .photographer_section article p {
  text-align: center; /* texte centré */
}

.photographer_section article h2 {
  color: #D3573C;
    /* font-size: 36px; */
    font-size: 2rem;
    font-weight: 400; /* texte non gras */
    margin-top: 10px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;/* placer l'image dans la zone définie par height et width tout en gardant ses propostions */
}

.photographer_section article .localisation {
  color: #901C1C;
  font-size: 0.8rem;
}

.photographer_section article .tagline {
  font-size: 0.7rem;
}

.photographer_section article .price {
  font-size: 0.7rem;
  color: #757575;
}
